  .navBarFixed{
    width: 80px;
    height: 235px;
    /* height: 400px; */
    background-color: rgb(255,255,255);
    position: fixed;
    top: 75px;
    left: 75px;
    border: 1px solid rgb(231,231,231);
    padding-bottom: 0;

  }
  .navBarFixed li{
  padding: 0;
  margin: 0;
  width: 80px;
  text-align: center;
  line-height: 25px;
  height: 25px;
  border-top: 0.5px solid rgb(231,231,231); 
  border-bottom: 0.5px solid rgb(231,231,231); 
  }
  .navArr li:hover{
  cursor: pointer;
  color: aliceblue;
  background-color:rgb(229,55,77);
  }
  .navBarFixed img{
  margin: 0 auto;
  padding-left: 3px;
  padding-top: 2px;
  width: 75px;
  height: 75px;
}
.navFixed{
  position: relative;
  /* right: -200px; */
  font-weight: 100;
  font-size: 0.5px;
}
.wrap .title{
    width: 159.5px;
    height: 17.6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.o-price{
    margin-top:20px;
}
.o-price span:first-child{
    font-size: 0.5em;
    font-style: normal;
    vertical-align: top;
    font-weight: 400;
}
a.product_car{
    display: inline-block;
    
    font-size: 25px;
    line-height: 30px;
    /* left: 200px; */
    width: 30px;
    height: 30px;
     cursor: pointer;
    color: #fff;
    background-color:#dd2727;
    border-radius: 20px;
    font-style: normal;
    text-align: center;
    position: relative;
    left: 120px;
    bottom: 32px;
}
.wrap h3{
    margin-top: 10px;

}

.navBarLi:hover{
    background: #dd2727;
}